
<section class="coffee-banner-section">
  <div class="text-white center home-coffee-banner-title font-prohibition">CHOOSE FROM OUR <br>ROSTED COFFEE</div>
    <ul class="home-coffee-list  ">
      <li><a href="#" >Coffee 1</a></li>
      <li><a href="#" >Coffee 2</a></li>
      <li><a href="#" >Coffee 3</a></li>
      <li><a href="#" >Coffee 4</a></li>
      <li><a href="#" >Coffee 5</a></li>
      <li><a href="#" >Coffee 6</a></li>
      <li><a href="#" >Coffee 7</a></li>

    </ul>

</section>

<section class="menu-banner-section">
  <div class="home-menu-inline">
    <div class="view-our-menu">VIEW OUR MENU</div>
    <div class="home-menu"></div>
  </div>

</section>

<section class="shop-banner-section">
  <div>BROWSE OUR SHOP</div>

  <div>shop</div>

</section>

<section class="location-banner-section">
  <div>OUR LOCATIONS</div>

  <div>Cedar Park</div>
  <div>Austin</div>
  <div>Georgetown</div>

</section>