@import url("https://use.typekit.net/eyv8jxk.css");

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

/* HOME PAGE */
body {
  margin: 0;
  font-family: "prohibition", sans-serif;
}

.top-banner-background-gradient {
  background: linear-gradient( to right, red, rgba(255, 0, 0, 0.879), rgba(255, 0, 0, 0.634), rgba(255, 0, 0, 0.543), rgba(255, 0, 0, 0.454), rgba(255, 0, 0, 0.301), rgba(255, 0, 0, 0.204), rgba(0, 0, 255, 0.194), rgba(0, 0, 255, 0.33), rgba(0, 0, 255, 0.448), rgba(0, 0, 255, 0.58), rgba(0, 0, 255, 0.75), rgba(0, 0, 255, 0.892), blue);
}
.top-banner {
  text-align: center;
  padding: 0.625em;
}

.top-bar ul {
  background-color: transparent;
}

.text-white {
  color: rgb(255, 255, 255);
}

.top-bar-container {
  padding: 0 1em;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.top-bar-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.home-nav {
  font-size: 20px;
  font-weight: 635;
}

.home-nav div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
}

.flex-1 li {
  flex-grow: 1;
  flex-shrink: 1;
}

.flex-1 li a {
  text-decoration: none;
  color: black;
  padding: 0 10px;
  position: relative;
}

.flex-1 li a::after {
  content: "";
  width: 0;
  height: 5px;
  background-color: rgb(83, 102, 172);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -50%;
  transition: 0.4s;
}

.flex-1 li a:hover::after {
  width: 100%;
}

.home-account {
  list-style: none;
  text-decoration: none;
  margin: auto;
}

.home-account a {
  color: black;
}

.top-banner-section {
  background-image: url("home-texans.jpg");
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 90px;
  text-align: center;
}

.top-image-text {
  font-size: 100px;
  text-align: center;
}

.button {
  background-color: #385C8B;
  font-size: 1.350em;
  padding: .85em 2em;
  margin-top: 1rem;
}


/* HOME - COFFEE */
.coffee-banner-section {
  padding-top: 10px;
  padding-bottom: 100px;
  background-color: #0F314B;
}

.center {
  text-align: center;
}

.home-coffee-banner-title {
  font-size: 90px;
}

.home-coffee-subtitle {
  padding-top: 10px;
}

.home-coffee-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding-top: 25px;
}

.home-coffee-list li {
  flex-grow: 1;
  flex-shrink: 1;
}

.home-coffee-list img {
  height: 220px;
  width: auto;
}

.home-our-coffees-button {
  border: 1px solid white;
  color: white;
  padding: 0.85em 2em;
  display: inline-block;
}

/* HOME - MENU */
.menu-banner-section {
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: rgb(255, 255, 255);
}

.menu-banner-section p {
  text-align: center;
}

.menu-banner-section img {
  height: 400px;
  width: auto;
}

.view-our-menu {
  font-size: 90px;
  text-align: center;
}

.menu-text {
  display: block;
  text-align: center;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.see-menu-button {
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  padding: 0.85em 2em;
  display: inline-block;
  text-align: center;

}

/* HOME - SHOP */
.shop-banner-section {
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: #0F314B;
}

.shop-banner-section img {
  height: 400px;
  width: auto;
}

.home-shop-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-shop-container {
  text-align: center;
}

.browse-our-shop {
  font-size: 90px;
  text-align: center;
}

.home-shop-button {
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  padding: 0.85em 2em;
  display: inline-block;
  text-align: center;
}

/* HOME - LOCATION */
.location-banner-section {
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: rgb(255, 255, 255)
}

.home-our-locations {
  text-align: center;
  font-size: 90px;
}

.home-locations-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding-top: 25px;
}

.home-locations-list img {
  height: 400px;
  width: auto;
}

.home-locations-list li p {
  text-align: center;
  color: rgb(0, 0, 0);
}

/* FOOTER */
#footer {
  background-color: #0F314B;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  margin-left: 55px;
  margin-right: 55px;
}

.footer-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.footer-column-1-list li {
  list-style: none;
  padding-bottom: 0.85rem;
}

.footer-column-2-list li {
  list-style: none;
  padding-bottom: 0.85rem;
}

.footer-logo {
  font-size: 44px;
}

.footer-newsletter-flex {
  display: flex;
  flex-direction: column;
}

.footer-newsletter-flex p {
  padding-top: 0.55rem;
}

.footer-newsletter {
  font-weight: 500;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.font-size-24px {
  font-size: 24px;
}

